
.title {
    text-align: center;
    font-family: "Georgia", Times, serif;
}
.doc {
    padding: 50px 0 50px;
    margin-left: 200px;
    margin-right: 200px;
    font-family: "Georgia", Times, serif;
}

